<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name=viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.4/examples/starter-template/">
    <title>{% block title %}Shop nhỏ của tiểu mặt trời{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
    {% block stylesheets %}
        <link href="{{ asset('CSS/bootstrap.customize.css') }}" rel="stylesheet">
    {% endblock %}
</head>

<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toogle collapsed"
                    data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('app_products') }}">Shop nhỏ của tiểu mặt trời</a>
        </div>

        <div id="navbar" class="collapse nav navbar-nav navbar-collapse container-fluid">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ path('app_products') }}">Home</a></li>
                <li><a href="{{ path('app_new_product') }}">Add new Costume</a></li>
            </ul>
            <ul class="nav navbar-nav justify-content-end">
                {% if is_granted('ROLE_USER') %}
                    <li><a href="{{ path('app_profile', {'username':app.user.username}) }}">Hi {{ app.user.username }}</a></li>
                    <li><a href="{{ path('app_logout') }}">Logout</a></li>
                {% elseif is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('app_admin', {'username':app.user.username}) }}">Hi admin {{ app.user.username }}</a></li>
                    <li><a href="{{ path('app_logout') }}">Logout</a></li>
                {% else %}
                    <li><a class="login-out-button" href="{{ path('app_login') }}">Login</a></li>
                {% endif %}
            </ul>
        </div> <!-- /.nav-collapse -->
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% for flash_message in app.session.flashBag.get('notice') %}
                <div class="alert alert-success">{{ flash_message }}</div>
            {% endfor %}
            {% for flash_message in app.session.flashBag.get('error') %}
                <div class="alert alert-danger">{{ flash_message }}</div>
            {% endfor %}
            {% block body %}{% endblock %}
        </div>
    </div>
</div><!-- /.container -->

{% block javascripts %}{% endblock %}

</body>
</html>
